# Ignore node_modules directory
node_modules/

# Ignore environment variables file
.env

# Ignore log files
logs/

# Ignore build output
dist/

# Ignore any editor or IDE specific files
.vscode/
.idea/
*.iml
*.log

# Ignore npm debugging logs
npm-debug.log*

# Ignore yarn debugging logs
yarn-debug.log*
yarn-error.log*